# 01 - Python basics

This notebook gives an introduction to Python programming in Jupyter notebooks and the most common data types in Python:
- Numbers
- Strings
- Lists
- Dictionaries

## Variables

In programming, we often store the inputs and outputs of our code in variables.

A variable is a named storage location in the computer that associates a *name* (identifier) with a specific *value*.

Variables are created by assigning an initial value to an identifier using the equality operator (`=`).

In [ ]:
num = 10

Once a variable has been defined, we can access its value by calling the variable name.

In [ ]:
num

Python is a *dynamically-typed* language, which means that we can change the value of a variable throughout a program. In other words, we can overwrite variables.

In [ ]:
num = num + 10

num

As a default, only the last operation in a `code` cell is displayed in Jupyter notebook. To display the output of multiple variables/operations in a code cell, we must use the `print` statement.

In [ ]:
num1 = 2 + 2
num2 = 2 * 5

print(num1)
print(num2)

There are several rules that must be followed when naming variables in Python. A variable name cannot:
- start with a number
- contain spaces
- contain special characters, e.g., !, ', #, @ etc.

In [ ]:
# SyntaxError
six pack = 6

In [ ]:
# Instead of spaces we can use underscores (snake case)
six_pack = 6

In [ ]:
# Or we can use capital letters (camel case)
sixPack = 6

> &#x26A0; **Warning:** Avoid using Python commands as variable names as this will overwrite the function of that command.

In [ ]:
# Remove hashtag below to overwrite print command
#print = 6

> üí° **Tip:** If you accidentially overwrite a Python command, you can reset it by simply restarting your program/Jupyter notebook. Go to the menu and press `Kernel` &rarr; `Restart Kernel`.

## Numeric data

Numeric data are variables containing only digits (with an optional sign character and decimal point):
- integers (whole numbers), e.g., 10
- floats (with decimals), e.g., 10.0

> üìù **Note:** Commas are never used to define floats in Python! Instead, we use the `.` for the decimal point.

In [ ]:
x = 12.6
x

Note that evaluating an expression with both integers and floats will always return a float.

In [ ]:
value = 7 + 4.0
value

We can use the `type` function to get the data type of a variable.

In [ ]:
type(value)

We can use the `int` and `float` functions to convert the data type of a number.

In [ ]:
int(value)

However, if we want to store the change in the data type, we have to assign the operation to the previous variable name (or store the operation in a new variable).

In [ ]:
value

In [ ]:
value = int(value)
value

In [ ]:
value = float(value)
value

The `int` function will simply drop everything after the decimal point. If we instead want to round to the nearest whole number, we have to use the `round` function.

In [ ]:
int(12.6)

In [ ]:
round(12.6)

Python uses scientific notation to represent very small or large floats.

In [ ]:
print(15445759662000000.2)

In [ ]:
print(0.0000000000000005)

Be aware that floats have limited precision in Python. Because computers speak "binary", not all float have an exact representation.

In Python, floats have 16 digits of precision, i.e., Python rounds off after 16 decimals.

In [ ]:
# Should be 0.333333333333333333333333333333333333333...
1/3

This limited precision of floats can cause roundoff errors in our calculations.

In [ ]:
# Should be equal to 2...
total = 1/3 + 1/3 + 1/3 + 1/3 + 1/3 + 1/3
total

We can deal with roundoff errors by simply rounding off to the nearest decimal using the `round` function.

In [ ]:
round(total, 1)

<div class="alert alert-info">
<h3> Your turn</h3>
<p> The area of a rectangle is equal to the width multiplied with the height of the rectangle. 
    
The width of a rectangle is 15.2 cm and the height is 3.71 cm. Calculate the area of the rectangle, and display the result with two decimals.
</div>

## String data

In Python, we call text data for *strings*.

A string is any sequence of character. The characters can be letter, numbers, special character, spaces etc.

A string is created by placing the sequence of characters between a pair of single `''` or double `""` quotation marks. It is fine to use either as long as you are consistent in your use.

In [ ]:
sentence = "This is how many prefer to write strings"
sentence

In [ ]:
sentence = 'This is how I prefer to write strings'
sentence

Strings can contain quotation marks are long as different quotation marks are used to delimit the string.

In [ ]:
# SyntaxError
sentence = 'We're having fun with Python today!'

In [ ]:
# Valid string
sentence = "We're having fun with Python today!"
sentence

We can use the `print` function to display a string without the quotation marks.

In [ ]:
print(sentence)

Note that there is a difference between an empty string and a string containing only spaces:

In [ ]:
empty_str = ''
empty_str

In [ ]:
space_str = '     '
space_str

We can use the `len` function to get the length of a sequence.

In [ ]:
print(len(empty_str))
print(len(space_str))

In general, strings must be contained on one line. However, strings can be displayed on different lines by using the newline control character, `\n`.

Print a list of numbers:

In [ ]:
# SyntaxError 
print('This is a list of numbers:
      1
      2
      3
      4')

In [ ]:
# Alternative 1
print('This is a list of numbers:')
print('1')
print('2')
print('3')
print('4')

In [ ]:
# Alternative 2
print('This is a list of numbers: \n1\n2\n3\n4')

Just like numbers, strings are also an *immutable* data type. That means that operations on a string does not actually alter the string. 

For example, we can use the `upper` function to convert all characters in a string to upper-case.

In [ ]:
word = 'Hello!'

In [ ]:
word.upper()

However, note that the operation did not actually change the string itself.

In [ ]:
print(word)

Instead, if we want to store the transformation, we have to assign it to a new variable name or overwrite a previous variable name.

In [ ]:
word = word.upper()

print(word)

Numeric variables can be converted to string using the `str` function.

In [ ]:
num = 10

str(num)

And we can also use the `int` and `float` functions to convert a string (with only digits) to a number.

In [ ]:
str_num = '10'

int(str_num)

#### General sequence methods

Strings are essentially just a sequence of characters, and there are many operations that can be applied on sequences in Python.

**1. String repetition:**

We can use the `*` operator to repeat a string several times.

In [ ]:
string1 = 'Hello'
string1*3

In [ ]:
print('*'*30)
print('Welcome to the Quiz Generator!')
print('*'*30)

**2. String concatenation:**

We can use the `+` operator to "add" strings together.

In [ ]:
'1' + '2' + '3'

In [ ]:
word1 = 'Hello'
word2 = 'world!'

print(word1 + ' ' + word2)

We can also add a number to a string by using the `str` function to convert the number to a string.

In [ ]:
temp = 15.4

print("Today's temperature is " + str(temp) + " degrees.")

<div class="alert alert-info">
<h3> Your turn</h3>
<p> Store your first name in a variable called <TT>name</TT> and display a sentence stating the number of letters in your name, e.g. "My name is ... and it contains ... letters."
</div>

**3. String indexing:**

We can select specific characters from a string by placing their index inside the indexing operator `[]`:
```
string_name[index]
```

However, note that Python uses **zero-based indexing**, which means that the first index in a sequence is always 0 (and not 1).

In [ ]:
string1 = 'Hello!'

In [ ]:
string1[1]

In [ ]:
string1[0]

This means that the last index in a string is equal to the total length of the string minus 1.

In [ ]:
len(string1)

In [ ]:
# IndexError
string1[6]

In [ ]:
string1[len(string1)-1]

**4. String slicing:**

We can also use the index operator `[]` to extract substrings from a string, which is known as *slicing*:
```
string_name[index1:index2]
```

When slicing, we extract the characters from `index1` up to (but not including) `index2`.

In [ ]:
sentence = 'This is an intro class to Python'

In [ ]:
# Extract first character
sentence[0]

In [ ]:
# Alternative
sentence[0:1]

In [ ]:
# Extract first word
sentence[0:4]

Note that we can omit the start or end index. As a default, Python will extract all characters from the start and the end of the sequence.

In [ ]:
# Extract first word + space
sentence[:5]

In [ ]:
# Extract last word
sentence[26:]

We can also use a negative index, which is interpreted as the number of characters from the *end* of the string.

In [ ]:
sentence[-6:]

## Lists

Lists in Python are very similar to our everyday concept of lists. In the real world, we read off, add, cross off items in lists, and we can do the same with lists in Python.

Lists are one of the most common ways to store data in Python, and they are very useful when we want to store a collection of items in a single variable.

We create list by placing a comma-sperated sequence of items within square brackets:
```
lst_name = [item1, item2, item3, ...]
```

> üìù **Note:**  It is convention to never give the name `list` to a Python list.

In [ ]:
fruits = ['banana', 'apple', 'cherry']

fruits

In [ ]:
type(fruits)

In [ ]:
len(fruits)

A list can contain any Python data type, e.g., string, integers, floats, arithmetic operations etc.

In [ ]:
mixed_lst = ['banana', 2, 42.5, 10*2]

mixed_lst

#### Indexing and slicing

We select items from a list the same way that we selected characters from a string by using the index operator `[]`.

Recall that Python follows *zero-based indexing*.

In [ ]:
mixed_lst[0]

In [ ]:
mixed_lst[3]

In [ ]:
mixed_lst[2:]

As before, negative numbers are interpreted as the number of items from the *end* of the list.

In [ ]:
mixed_lst[:-2]

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Store the name of the weekdays (Mon-Fri) in a list called <TT>day_lst</TT>. Print the last day in the list in <i>three</i> different ways.
</div>

#### Operations

Unlike numbers and strings, lists are *mutable*, meaning that we can make changes to a list without having to assign it to a new variable (or overwrite a previous variable).

We can add a new item to the end of the list using `append`.

In [ ]:
fruits

In [ ]:
fruits.append('pear')

In [ ]:
fruits

> üìù **Note:**  We can also use a pair of parenthesis `()` to store a sequence of items. This is known as a **tuple**.

In [ ]:
fruits2 = ('banana', 'apple', 'cherry')

fruits2

The main difference between a list and a tuple is that a tuple is *immutable*, i.e., cannot be modified.

In [ ]:
# AttributeError (because cannot append a new item to a tuple)
fruits2.append('pear')

Instead of appending, we can use the `+` operator to combine several lists together into a single list.

In [ ]:
fruits = ['banana', 'apple', 'cherry']
vegetables = ['potato', 'carrot', 'broccoli', 'onion']

In [ ]:
fruits + vegetables

However, to store the combined list we need to store it in a new variable (or overwrite a previous variable).

In [ ]:
new_lst = fruits + vegetables
new_lst

When a list consists of only numbers, there are some special operations that we can perform on the list, such as `sum`, `min` and `max`.

In [ ]:
num_lst = [1, 2, 3, 4, 5, 6, 7]
num_lst

In [ ]:
sum(num_lst)

In [ ]:
min(num_lst)

In [ ]:
max(num_lst)

> &#x26A0; **Warning:** Never give the name `list` to a list as this is actually a Python command.

In [ ]:
list('banana')

#### Nested list

A list can also contain other lists. This is known as a *nested* list.

In [ ]:
foods = [fruits, vegetables]
foods

In [ ]:
foods[0]

In [ ]:
foods[1]

In [ ]:
foods[0][1]

<div class="alert alert-info">
  <h3>Your turn</h3>
  <p>
    Consider the nested list <TT>table</TT>, where each sublist contains the test scores
    for a single student on three different tests:
  </p>

  <code>table = [ 
    [85, 91, 89],  # test scores for student 1
    [78, 81, 86],  # test scores for student 2
    [62, 75, 77],  # test scores for student 3
    [70, 65, 72]   # test scores for student 4
]</code>

Use the list to calculate:
- the average test score for the second student 
- the average test score on the third test   
  </p>
</div>

## Dictionaries

A dictionary is another data type used to store multiple items in a single variable. Dictionaries in Python are like dictionaries in the real-word: we look up words (keys) and read off the definition (value).

Ulike lists, each item in a dictionary is associated with a *key* instead of an index. We create dictionaries by placing a comma-seperated sequence of *key-value* pairs within curly brackets `{}`. Each key-value pair starts with the key, followed by a colon `:` and then the value associated with that key:
```
dict_name = {key1  : value1, key2  : value 2, key 3 : value3, ...}

```

> üìù **Note:** It is convention to never give the name `dict` to a Python dictionary.

To make the dictionary more readable to humans, we often write each key-value pair on its own line.

In [ ]:
student = {
    'name' : 'Anne Smith',
    'student_no' : 's1234',
    'course' : 'TECH2',
    'score' :  82
}

student

Like lists, dictionaries are also a sequence of items.

In [ ]:
len(student)

But unlike lists, dictionaries have no index, so we cannot select an item from a dictionary using the indexing operator.

In [ ]:
# KeyError 
student[0]

Instad, we have to use the keys to "look up" a value in a dictionary.

We can use the `keys` function to display all of the keys in a dictionary.

In [ ]:
student.keys()

In [ ]:
student['name']

In [ ]:
student['score']

Alternatively, if we instead want all the values in a dictionary, we can apply the `values` function.

In [ ]:
student.values()

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> The table below records the daily temperature from Monday to Friday. Store the data in a dictionary called <TT>days</TT>. Use the dictionary to print the temperature on Wednesday.

| Day       | Temperature (¬∞C) |
|-----------|------------------|
| Monday    | 22.5             |
| Tuesday   | 24.0             |
| Wednesday | 19.8             |
| Thursday  | 21.3             |
| Friday    | 23.1             |

</div>

Like lists, dictionaries are also mutable. This means that we can update the value of an existing key and add new key-value pairs.

In [ ]:
student

In [ ]:
student['score'] = 92

student

In [ ]:
student['university'] = 'NHH'

student

Values in a dictionary can be of any Python data type, including lists.

In [ ]:
student['score'] = [92, 87, 82]

student

# Home exercises

Python has an `input` function that we can use to prompt the user for an input, e.g., the user's favorite color or number of siblings.

In [ ]:
color = input('Please enter your favorite color: ')

In [ ]:
color

However, note that `input` return the user-supplied input as a string even when the input is a number.

In [ ]:
siblings = input('How many siblings do you have? ')

In [ ]:
siblings

### üìö Exercise 1: Working with Numbers

Write a Python program that does the following:

1. Use the `input` function to prompt the user for two numbers: `a` and `b`
2. Compute:
   - The **sum** of `a` and `b`
   - The **product** of `a` and `b`
   - The **average** of `a` and `b`
3. Display the result of the operations with one decimal

### üìö Exercise 2: Temperature dictionary

The table below records the daily temperature from Monday to Friday in three different cities. Store the data in a dictionary called <code>cities</code>, in which the keys are the city names and the values are *lists* of the daily temperatures.

| Day       | London (¬∞C) | Paris (¬∞C) | Rome (¬∞C) |
|-----------|-------------|------------|-----------|
| Monday    | 18.5        | 21.0       | 26.1      |
| Tuesday   | 19.0        | 22.5       | 27.3      |
| Wednesday | 17.8        | 20.2       | 25.0      |
| Thursday  | 20.1        | 23.1       | 26.7      |
| Friday    | 21.3        | 24.0       | 28.4      |

Use the dictionary to display a message that states the average temperature in each of the three cities.

### üìö Exercise 3: Temperature conversion program

Write a Python program that converts a temperature from Fahrenheit to Celsius.

The program should do the following:
1. Use the `input` function to prompt the user for a temperature in Fahrenheit
2. Convert the temperature to Celsius using the formula: $C = \left(\frac{5}{9}\right) \times (F - 32)$
3. Display the converted temperature rounded to the nearest integer