# 07 - Data wrangling

This notebook contains solution proposals to the home exercises.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import ticker
import os

### ðŸ“š Exercise 1: Titanic aggregations

Load and merge the data in <code>titanic.csv</code> and <code>titanic_additional.csv</code> to perform the following aggregations:

In [ ]:
# Import data
titanic = pd.read_csv('data/titanic.csv')
titanic_add = pd.read_csv('data/titanic_additional.csv')

# Merge data 
titanic = titanic.merge(titanic_add, on = ['PassengerId', 'Name', 'Sex'], how = 'inner')

titanic.head()

1. Compute the average survival rate by sex.

In [ ]:
titanic.groupby('Sex')['Survived'].mean()

2. Count the number of passengers aged +50. Compute the average survival rate by sex for this group.

In [ ]:
len(titanic[titanic['Age'] > 50])

In [ ]:
titanic[titanic['Age'] > 50].groupby('Sex')['Survived'].mean()

3. Count the number of passengers below the age of 20 by class and sex. Compute the average survival rate for this group by class and sex.

In [ ]:
len(titanic[titanic['Age'] < 20])

In [ ]:
titanic[titanic['Age'] < 20].groupby(['Sex', 'Pclass']).size()

4. Count the number of non-missing values in each column by class and sex.

In [ ]:
titanic.groupby(['Pclass', 'Sex']).count()  # Excl. missing observations
# titanic.groupby(['Pclass', 'Sex']).size() # Incl. missing observations

5. Compute the minimum, maximum and average age by embarkation port (column `Embarked`) in a single `agg` operation.

In [ ]:
# Alternative 1
titanic.groupby('Embarked')['Age'].agg(['min', 'max', 'mean'])

In [ ]:
# Alternative 2
titanic.groupby('Embarked').agg(
    min_age = ('Age', 'min'),
    max_age = ('Age', 'max'),
    mean_age = ('Age', 'mean')
)

6. Compute the number of passengers, the average age and the fraction of women by embarkation port in a single `agg` operation.

   *Hint*: to compute the fraction of women, you can first create a numerical indicator variable for females.

In [ ]:
titanic['Sex_ind'] = 0
titanic.loc[titanic['Sex'] == 'female', 'Sex_ind'] = 1

titanic.head()

In [ ]:
titanic.groupby('Embarked').agg(
    num_passengers = ('PassengerId', 'count'),
    mean_age = ('Age', 'mean'),
    share_women = ('Sex_ind', 'mean')
)

### ðŸ“š Exercise 2: Working with string data

In this exercise, you will work with the original Titanic data set in `titanic.csv` and additional data stored in `titanic_address.csv`, which contains the address for each passenger. Note that the second data set contains address information only for passengers from the UK, while all other passengers (non-UK) have missing address information.

The goal of the exercise is to calculate the survival rate by country of residence (for this exercise, we restrict ourselves to the UK, so these will be England, Scotland, Wales etc.).

**Task 1**: Load `titanic.csv` and `titanic_address.csv` into two DataFrames.

Inspect the columns contained in both data sets. As you can see, the orignal data contains the full name including the title and potential maiden name (for married women) in a single column. The address data contains this information in seperate columns. You want to merge these data sets, but first you need to create common keys (i.e., columns) in both DataFrames.

In [ ]:
titanic = pd.read_csv('data/titanic.csv')

titanic.head()

In [ ]:
titanic_address = pd.read_csv('data/titanic_address.csv')

titanic_address.head()

**Task 2**: In the DataFrame with the original Titanic data, split the name information into three columns just like the columns in the second DataFrame by doing the following:
- Restrict the sample to men only. (This simplifies the task. Women in this data set have much more complicated names as they contain both their husband's and their maiden name). The filtered DataFrame should have 577 passengers.
- Split the `Name` column by `,` to extract the last name and the remainder as seperate columns. You can achieve this by using the [`partition`]((https://pandas.pydata.org/docs/reference/api/pandas.Series.str.partition.html#pandas.Series.str.partition) string method) string method.
- Split the remainder (containing the title and first name) using the space character `" "` as seperator to obtain individual columns for the title and the first name.
- Store the three data series in the original DataFrame (using the column names `FirstName`,     `LastName` and `Title`) and delete the `Name` column which is no longer needed.

*Hint*: Make sure that you don't have any leading or trailing whitespace at the start/end of the strings after partition. You can remove whitespace using the [`strip`](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.strip.html) method
```
df['FirstName'].str.strip()
```

In [ ]:
# Keep only men
titanic = titanic[titanic['Sex'] == 'male'].reset_index(drop = True).copy()

print(len(titanic))
titanic.head()

In [ ]:
# Extract last names and rest of names as pandas Series
# (Note: use strip method to remove trailing whitespace at start and end of string)
lastnames = titanic['Name'].str.partition(',')[0].str.strip()
remainder = titanic['Name'].str.partition(',')[2].str.strip()

In [ ]:
# Extract titles and first names as pandas Series
titles = remainder.str.partition(' ')[0].str.strip()
firstnames = remainder.str.partition(' ')[2].str.strip()

In [ ]:
# Drop name column from df
titanic.drop('Name', axis = 1, inplace = True)

# Add new name columns to df
titanic['Title'] = titles
titanic['FirstName'] = firstnames
titanic['LastName'] = lastnames

titanic.head()

**Task 3**: Merge the original Titanic data with the address data based on the name columns you just created using a *left join*. Since we don't have address information for non-UK residence, you can drop the passengers with missing addresses. The merged DataFrame should have 471 passengers with non-missing address information.

In [ ]:
# Merge the two dfs
titanic = titanic.merge(titanic_address, on = ['Title', 'FirstName', 'LastName'], how = 'left')

# Drop rows with missing city info using dropna method
titanic.dropna(subset = 'City', axis = 0, inplace = True)
titanic.reset_index(drop = True, inplace = True)

# ...or alternatively, drop missings by filtering
# titanic = titanic[titanic['City'].notna()].reset_index(drop = True).copy()

print(len(titanic))
titanic.head()

**Task 4**: The file `UK_post_codes.csv` contains UK post code prefixes (which you can ignore), the corresponding city, and the corresponding country.

Import the file and merge this data with your passenger data set using a *left join*.

*Hint*: The data with the post codes contains duplicate rows for countries due to many postal codes. Before merging, you should ensure that you have only one row for each country-city combination. You can drop duplicate rows using the [`drop_duplicates`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html) method.

In [ ]:
# Import file
df_post = pd.read_csv('data/UK_post_codes.csv')

df_post.head()

In [ ]:
# Drop duplicated rows of country-city combinations
df_post.drop_duplicates(subset = ['City', 'Country'], keep = 'first', inplace = True)

# Drop postal code prefix
df_post.drop('Prefix', axis = 1, inplace = True)

print(len(df_post))
print(df_post['City'].nunique())
df_post.head()

In [ ]:
# Merge titanic data and UK locations
titanic = titanic.merge(df_post, on = 'City', how = 'left')

print(len(titanic))
titanic.head()

**Task 5**: Using the finale DataFrame, compute the average survivial rate by country of residence.

In [ ]:
titanic.groupby('Country')['Survived'].mean()

### ðŸ“š Exercise 3: Importing multiple files

The subfolder `stocks` in the `data` folder contains data on prices and traded volume for each weekday in 2020 for 10 different companies. The data for each company is stored in a seperate csv file with the company ticker as the file name.

Your task is to import and combine the data sets into a single DataFrame and then calculate the monthly sum of traded volume by company.

**Task 1**: Import the files and concat them into a single DataFrame. Make sure that the dates in the final DataFrame is a datetime object.

*Hint*: Create a list of all the file names in the folder (e.g., use [`listdir`](https://docs.python.org/3/library/os.html#os.listdir) from `os` to generate the list) and then import each file in a for loop in which you append each DataFrame to a list. Use `concat` to combine all the DataFrames in the final list.

In [ ]:
# Empty list to store dfs in
df_lst = []

# Generate list of all files in "stocks" folder
files = os.listdir('data/stocks')

for file in files:
    
    # Import file
    df_temp = pd.read_csv('data/stocks/' + file)

    # Convert date to datetime
    df_temp['Date'] = pd.to_datetime(df_temp['Date'])

    # Add column with ticker name
    df_temp['Ticker'] = file.split('.')[0] # split string on '.'
    #df_temp['Ticker'] = files[0][:-4] # or index the string without last 4 characters

    # Append temp df to list
    df_lst.append(df_temp)

print(len(df_lst))

In [ ]:
# Concat list of dfs into single df
df_stocks = pd.concat(df_lst).reset_index(drop = True)

print(len(df_stocks))
print(df_stocks['Ticker'].unique())
df_stocks.head()

**Task 2**: Calculate the monthly sum of traded volume for each ticker in the data in three different ways:
1. Compute the monthly sums "manually" by looping over the data instead of using pandas aggregation methods (e.g., `groupby`).

   *Hint*: use a nested `for` loop, in which the outer loop iterates over ticker names, and the inner loop iterates over months. Recall that you can use the `dt` accessor to access time properties from a datetime object.

In [ ]:
tickers = []
months = []
sums = []

# Outer loop to filter on ticker
for ticker in df_stocks['Ticker'].unique():
    df1 = df_stocks[df_stocks['Ticker'] == ticker]

    # Inner loop to filter on month
    for month in range(1, 13):
        df2 = df1[df1['Date'].dt.month == month]

        # Append each ticker, month and sum to lists
        tickers.append(ticker)
        months.append(month)
        sums.append(df2['Volume'].sum())

In [ ]:
# Create df from dict of lists from for loop
pd.DataFrame({
    'Ticker' : tickers,
    'Month' : months,
    'Volume' : sums
})

2. Compute the monthly sums using the pandas aggregation method `groupby` instead of loops.

In [ ]:
df_stocks.groupby([df_stocks['Date'].dt.month, 'Ticker'])['Volume'].sum().reset_index()

3. Compute the monthly sums also using the pandas method `resample`.

**Note**: This works because our data contains only daily observations within a single year.

In [ ]:
df_stocks.set_index('Date').groupby('Ticker').resample('ME')['Volume'].sum().reset_index()

### ðŸ“š Exercise 4: Reshaping electricity data

The file `eurostat.xlsx` contains data on electricity consumption (in gigawatt-hours) for European countries from 2001 to 2023. 

1. Import the file and and keep only observations for the years 2001 to 2020 and for actual countries (i.e., drop the EU/Euro aggregates). The data should have 41 countries observed for 20 unique years.
   
   *Hint*: See the solution proposal to home exercise #2 in lecture 5.

In [ ]:
# Import file
df_euro = pd.read_excel(
    'data/eurostat.xlsx', 
    sheet_name = 'Sheet 1',           # Specify which sheet to import
    skiprows = list(range(9)) + [10], # Skip rows at the top of the file
    skipfooter = 5,                   # Skip rows at the bottom of the file
    na_values = ':'                   # Specify that ":" indicates NaN
)

# Rename column to country
df_euro.rename(columns = {'TIME' : 'Country'}, inplace = True)

# Keep only columns with country and year observations
# (keep only years 2000 to 2020)
years = [str(i) for i in range(2001, 2021)]
df_euro = df_euro[['Country'] + years].copy()

# Drop aggregates
df_euro = df_euro[~df_euro['Country'].isin(['European Union - 27 countries (from 2020)', 'Euro area â€“ 20 countries (from 2023)'])].copy()

df_euro.head()

In [ ]:
# Check data types
df_euro.info()

In [ ]:
# Check unique countries
print(df_euro['Country'].nunique())
print(df_euro['Country'].unique())

In [ ]:
# Check missing values
df_euro.isna().sum()

2. Many countries have missing observations on electricity consumption in some year. Calculate how many years each country has a non-missing observation.

   *Hint*: Reshape first the data from wide to long using the pandas method `pivot`, and then count the number of non-missing observations for each country in a `groupby`.

In [ ]:
# Reshape data from long to wide
df_euro = df_euro.melt(
    id_vars = 'Country',
    value_name = 'Electricity',
    var_name =  'Year'
)

# Sort values according to year for each country
df_euro.sort_values(['Country', 'Year'], inplace = True)

df_euro

In [ ]:
# Calculate how many electricity observations for each country
# (note: count method only includes non-missing values)
country_year_counts = df_euro.groupby('Country')['Electricity'].count()

country_year_counts

3. Drop the countries from the data that you do not observe for every single year between 2001 and 2020. Note that you should have 35 countries left in the data.

In [ ]:
# Note: we can filter the country-year counts that we created above
max_years = df_euro['Year'].nunique()
country_year_counts[country_year_counts == max_years]

In [ ]:
# Extract countries (from index) in filtered country-year counts
complete_countries = country_year_counts[country_year_counts == max_years].index

# Filter df so that we only keep countries observed all years
df_euro = df_euro[df_euro['Country'].isin(complete_countries)].copy()

print(df_euro['Country'].nunique())
df_euro.head()

4. Calculate the average annual electricity consumption for the countries with complete data. Display this in a horizontal bar plot that shows the countries in a descending order (high to low). Add a vertical line to the bar plot that shows the average annual electricity consumption across all the countries in the data (i.e., unweighted average).

In [ ]:
# Create series with country averages using groupby (sort in ascending order)
mean_series = df_euro.groupby('Country')['Electricity'].mean().sort_values()
mean_series

In [ ]:
with plt.style.context('fivethirtyeight'):
    
    fig, ax = plt.subplots(figsize = (12, 8))

    # Create horizontal bar plot with country averages 
    ax.barh(
        mean_series.index,  # Use series index (country names) on the xaxis
        mean_series.values, # Use series values on the yaxis
    )

    # Add EU average as vertical line
    ax.axvline(x = mean_series.mean(), color = 'red', lw = 2, label ='Overall Average')

    # Formatting
    ax.set_title('Average Annual Electricity Consumption (2000-2020)')
    ax.set_xlabel('Annual consumption (in GWh)')
    # (use StrMethodFormatter from ticker to add thousand seperator on xaxis)
    ax.xaxis.set_major_formatter(ticker.StrMethodFormatter('{x:,.0f}'))
    ax.legend()
    plt.show()